@media (max-width: 960px) {
  .t\:jstart {
    justify-content: flex-start;
  }
  .t\:jend {
    justify-content: flex-end;
  }
  .t\:jcenter {
    justify-content: center;
  }
  .t\:jbetween {
    justify-content: space-between;
  }
  .t\:jaround {
    justify-content: space-around;
  }
  .t\:jevenly {
    justify-content: space-evenly;
  }

  .t\:astart {
    align-items: flex-start;
  }
  .t\:aend {
    align-items: flex-end;
  }
  .t\:acenter {
    align-items: center;
  }
  .t\:abase {
    align-items: baseline;
  }
  .t\:astretch {
    align-items: stretch;
  }

  .t\:fstart {
    justify-content: flex-start;
    align-items: flex-start;
  }
  .t\:fcenter {
    justify-content: center;
    align-items: center;
  }
  .t\:fend {
    justify-content: flex-end;
    align-items: flex-end;
  }

  .t\:sstart {
    align-self: flex-start;
  }
  .t\:send {
    align-self: flex-end;
  }
  .t\:scenter {
    align-self: center;
  }
  .t\:sbase {
    align-self: baseline;
  }
  .t\:sstretch {
    align-self: stretch;
  }

  .t\:xfill {
    width: 100%;
  }
  .t\:yfill {
    height: 100%;
  }
  .t\:fill {
    width: 100%;
    height: 100%;
  }

  .t\:grow {
    flex: 1 1 90%;
  }
  .t\:grow2 {
    flex: 2 2 40%;
  }
  .t\:grow3 {
    flex: 3 3 30%;
  }
  .t\:grow4 {
    flex: 4 4 15%;
  }
}

@media (max-width: 440px) {
  .m\:jstart {
    justify-content: flex-start;
  }
  .m\:jend {
    justify-content: flex-end;
  }
  .m\:jcenter {
    justify-content: center;
  }
  .m\:jbetween {
    justify-content: space-between;
  }
  .m\:jaround {
    justify-content: space-around;
  }
  .m\:jevenly {
    justify-content: space-evenly;
  }

  .m\:astart {
    align-items: flex-start;
  }
  .m\:aend {
    align-items: flex-end;
  }
  .m\:acenter {
    align-items: center;
  }
  .m\:abase {
    align-items: baseline;
  }
  .m\:astretch {
    align-items: stretch;
  }

  .m\:fstart {
    justify-content: flex-start;
    align-items: flex-start;
  }
  .m\:fcenter {
    justify-content: center;
    align-items: center;
  }
  .m\:fend {
    justify-content: flex-end;
    align-items: flex-end;
  }

  .m\:sstart {
    align-self: flex-start;
  }
  .m\:send {
    align-self: flex-end;
  }
  .m\:scenter {
    align-self: center;
  }
  .m\:sbase {
    align-self: baseline;
  }
  .m\:sstretch {
    align-self: stretch;
  }

  .m\:xfill {
    width: 100%;
  }
  .m\:yfill {
    height: 100%;
  }
  .m\:fill {
    width: 100%;
    height: 100%;
  }

  .m\:grow {
    flex: 1 1 90%;
  }
  .m\:grow2 {
    flex: 2 2 40%;
  }
  .m\:grow3 {
    flex: 3 3 30%;
  }
  .m\:grow4 {
    flex: 4 4 15%;
  }
}
