input,
select,
textarea {
  background-color: unset;
  border: 2px solid transparent;
  border-radius: 0;
  padding: 12px 24px;
  transition: 200ms;
}

input.big,
select.big,
textarea.big {
  padding: 16px 32px;
}

input.small,
select.small,
textarea.small {
  padding: 6px 12px;
}

input.round,
select.round,
textarea.round {
  border-radius: 8px;
}
input.disabled,
select.dissabled,
textarea.disabled {
  cursor: not-allowed;
  background-color: var(--color-grey);
  color: var(--color-grey-dark);
}

input.outline,
select.outline,
textarea.outline {
  border-color: var(--color-grey-light);
}
input.underline,
select.underline,
textarea.underline {
  border-bottom-color: var(--color-grey-light);
}

input.black-outline,
select.black-outline,
textarea.black-outline {
  border-color: #000;
}
input.black-underline,
select.black-underline,
textarea.black-underline {
  border-bottom-color: #000;
}
input.white-outline,
select.white-outline,
textarea.white-outline {
  border-color: #fff;
}
input.white-underline,
select.white-underline,
textarea.white-underline {
  border-bottom-color: #fff;
}

input[class*="outline"],
select[class*="outline"],
textarea[class*="outline"] {
  &:focus {
    border-color: var(--color-info);
  }
}

input[class*="underline"],
select[class*="underline"],
textarea[class*="underline"] {
  &:focus {
    border-bottom-color: var(--color-info);
  }
}
