@font-face {
  font-family: "GT Super WT";
  src: url("GTSuperWT-Regular.woff2") format("woff2"),
    url("GTSuperWT-Regular.woff") format("woff"),
    url("GTSuperWT-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GT Super WT";
  src: url("GTSuperWT-Super.woff2") format("woff2"),
    url("GTSuperWT-Super.woff") format("woff"),
    url("GTSuperWT-Super.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
