.t\:viewport {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
}

.t\:scroll {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar {
    width: 7px;
  }

  &::-webkit-scrollbar-track {
    background-color: var(--color-bg);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--color-pri);
  }
}
.t\:scroll.snap {
  scroll-snap-type: y mandatory;
}
.t\:scroll.snap > * {
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.t\:slider {
  position: relative;
  width: 100%;
  display: block;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}
.t\:slider > .t\:slide {
  display: inline-flex;
  white-space: normal;
}
.t\:slider.snap {
  scroll-snap-type: x mandatory;
}
.t\:slider.snap > .t\:slide {
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.t\:row {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.t\:row-reverse {
  display: flex;
  flex-flow: row-reverse wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.t\:col {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.t\:col-reverse {
  display: flex;
  flex-flow: column-reverse wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.t\:nowrap {
  flex-wrap: nowrap;
  overflow: hidden;
}

.t\:jstart {
  justify-content: flex-start;
}
.t\:jend {
  justify-content: flex-end;
}
.t\:jcenter {
  justify-content: center;
}
.t\:jbetween {
  justify-content: space-between;
}
.t\:jaround {
  justify-content: space-around;
}
.t\:jevenly {
  justify-content: space-evenly;
}

.t\:astart {
  align-items: flex-start;
}
.t\:aend {
  align-items: flex-end;
}
.t\:acenter {
  align-items: center;
}
.t\:abase {
  align-items: baseline;
}
.t\:astretch {
  align-items: stretch;
}

.t\:fstart {
  justify-content: flex-start;
  align-items: flex-start;
}
.t\:fcenter {
  justify-content: center;
  align-items: center;
}
.t\:fend {
  justify-content: flex-end;
  align-items: flex-end;
}

.t\:sstart {
  align-self: flex-start;
}
.t\:send {
  align-self: flex-end;
}
.t\:scenter {
  align-self: center;
}
.t\:sbase {
  align-self: baseline;
}
.t\:sstretch {
  align-self: stretch;
}

.t\:xfill {
  width: 100%;
}
.t\:yfill {
  height: 100%;
}
.t\:fill {
  width: 100%;
  height: 100%;
}

.t\:grow {
  flex: 1 1 calc(100% / 1.2);
}
.t\:grow2 {
  flex: 1 1 calc(50% / 1.2);
}
.t\:grow3 {
  flex: 1 1 calc((100% / 3) / 1.2);
}
.t\:grow4 {
  flex: 1 1 calc(25% / 1.3);
}

xdiv.t\:black,
ydiv.t\:black {
  background: #000;
}
xdiv.t\:white,
ydiv.t\:white {
  background: #000;
}
xdiv.t\:pri,
ydiv.t\:pri {
  background: var(--color-pri);
}
xdiv.t\:sec,
ydiv.t\:sec {
  background: var(--color-sec);
}
xdiv.t\:ter,
ydiv.t\:ter {
  background: var(--color-ter);
}
xdiv.t\:gradient,
ydiv.t\:gradient {
  background: var(--linear-gradient);
}