input.t\:big,
select.t\:big,
textarea.t\:big {
  padding: 16px 32px;
}

input.t\:small,
select.t\:small,
textarea.t\:small {
  padding: 6px 12px;
}

input.t\:round,
select.t\:round,
textarea.t\:round {
  border-radius: 8px;
}
input.t\:disabled,
select.t\:disabled,
textarea.t\:disabled {
  cursor: not-allowed;
  background-color: var(--color-grey);
  color: var(--color-grey-dark);
}

input.t\:outline,
select.t\:outline,
textarea.t\:outline {
  border-color: var(--color-grey-light);
}
input.t\:underline,
select.t\:underline,
textarea.t\:underline {
  border-bottom-color: var(--color-grey-light);
}

input.t\:black-outline,
select.t\:black-outline,
textarea.t\:black-outline {
  border-color: #000;
}
input.t\:black-underline,
select.t\:black-underline,
textarea.t\:black-underline {
  border-bottom-color: #000;
}
input.t\:white-outline,
select.t\:white-outline,
textarea.t\:white-outline {
  border-color: #fff;
}
input.t\:white-underline,
select.t\:white-underline,
textarea.t\:white-underline {
  border-bottom-color: #fff;
}
