.t\:title {
  font-family: var(--font-title);
}
.t\:text {
  font-family: var(--font-text);
}
.t\:system {
  font-family: var(--font-system);
}

.t\:tleft {
  text-align: left;
}
.t\:tcenter {
  text-align: center;
}
.t\:tright {
  text-align: right;
}

.t\:clamp {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.t\:clamp2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.t\:clamp3 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.t\:clamp4 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
