:root {
  --shadow-pri: 5px 5px 20px 0 var(--color-pri 50%);
  --shadow-sec: 5px 5px 20px 0 var(--color-sec 50%);
  --shadow-ter: 5px 5px 20px 0 var(--color-ter 50%);
  --inset-pri: inset 5px 5px 20px 0 var(--color-pri 50%);
  --inset-sec: inset 5px 5px 20px 0 var(--color-sec 50%);
  --inset-ter: inset 5px 5px 20px 0 var(--color-ter 50%);
}
